<aside id="sidebar">
	<div class="widget widget_meta">
		<h3>Meta</h3>
		<ul>
			<li><a href="https://widgets.demo.w3.ua/wp-login.php">Log in</a></li>
			<li><a title="Syndicate this site using RSS 2.0" href="#">Entries <abbr
						title="Really Simple Syndication">RSS</abbr></a></li>
			<li><a title="The latest comments to all posts in RSS" href="#">Comments <abbr
						title="Really Simple Syndication">RSS</abbr></a></li>
			<li><a title="Powered by WordPress, state-of-the-art semantic personal publishing platform."
					href="https://wordpress.org/">WordPress.org</a></li>
		</ul>
	</div>
	<div class="widget widget_categories">
		<h3>Categories (dropdown)</h3>
		<select class="postform" id="cat" name="cat">
			<option value="-1">Select Category</option>
			<option value="1" class="level-0">Uncategorized</option>
		</select>
	</div>
	<div class="widget widget_categories">
		<h3>Categories (hierarchy)</h3>
		<ul>
			<li class="cat-item cat-item-1"><a href="#">Uncategorized</a></li>
			<li class="cat-item cat-item-2"><a href="#">Category 2</a></li>
		</ul>
	</div>
	<div class="widget widget_categories">
		<h3>Categories (counts)</h3>
		<ul>
			<li class="cat-item cat-item-1"><a href="#">Uncategorized</a> (3)</li>
			<li class="cat-item cat-item-2"><a href="#">Category 2</a> (15)</li>
		</ul>
	</div>
	<div class="widget widget_archive">
		<h3>Archives_counts</h3>
		<ul>
			<li><a href="#">June 2014</a> (1)</li>
			<li><a href="#">May 2014</a> (1)</li>
			<li><a href="#">April 2014</a> (1)</li>
		</ul>
	</div>
	<div class="widget widget_archive">
		<h3>Archives</h3>
		<select name="archive-dropdown">
			<option value="">Select Month</option>
			<option value=""> June 2014 </option>
			<option value=""> May 2014 </option>
			<option value=""> April 2014 </option>
		</select>
	</div>
	<div class="widget widget_recent_comments">
		<h3>Recent Comments</h3>
		<ul id="recentcomments">
			<li class="recentcomments"><a class="url" rel="external nofollow" href="https://wordpress.org/">Mr WordPress</a>
				on <a href="#">Hello world!</a></li>
			<li class="recentcomments"><a class="url" rel="external nofollow" href="https://wordpress.org/">Mr WordPress</a>
				on <a href="#">Hello world2.</a></li>
		</ul>
	</div>
	<div id="text-2" class="widget widget_text">
		<h3>Text</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
			magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
		</p>
	</div>
	<div class="widget widget_search">
		<h3>Search</h3>
		<form action="#" class="search-form" method="get">
			<fieldset>
				<input name="s" type="search" placeholder="Search">
				<button type="submit">GO</button>
			</fieldset>
		</form>
	</div>
	<div class="widget widget_calendar">
		<h3>Calendar</h3>
		<div id="calendar_wrap">
			<table id="wp-calendar">
				<caption>May 2014</caption>
				<thead>
					<tr>
						<th title="Monday" scope="col">M</th>
						<th title="Tuesday" scope="col">T</th>
						<th title="Wednesday" scope="col">W</th>
						<th title="Thursday" scope="col">T</th>
						<th title="Friday" scope="col">F</th>
						<th title="Saturday" scope="col">S</th>
						<th title="Sunday" scope="col">S</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td id="prev" colspan="3"><a title="View posts for April 2014" href="#">&laquo; Apr</a></td>
						<td class="pad">&nbsp;</td>
						<td id="next" colspan="3"><a title="View posts for June 2014" href="#">Jun &raquo;</a></td>
					</tr>
				</tfoot>
				<tbody>
					<tr>
						<td class="pad" colspan="3">&nbsp;</td>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
					</tr>
					<tr>
						<td>5</td>
						<td>6</td>
						<td>7</td>
						<td>8</td>
						<td>9</td>
						<td>10</td>
						<td>11</td>
					</tr>
					<tr>
						<td>12</td>
						<td>13</td>
						<td>14</td>
						<td>15</td>
						<td>16</td>
						<td>17</td>
						<td>18</td>
					</tr>
					<tr>
						<td>19</td>
						<td>20</td>
						<td>21</td>
						<td>22</td>
						<td>23</td>
						<td>24</td>
						<td>25</td>
					</tr>
					<tr>
						<td><a title="post" href="#">26</a></td>
						<td>27</td>
						<td>28</td>
						<td>29</td>
						<td>30</td>
						<td>31</td>
						<td colspan="1" class="pad">&nbsp;</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="widget widget_pages">
		<h3>Pages</h3>
		<ul>
			<li class="page_item page-item-2"><a href="#">Sample Page</a></li>
			<li class="page_item page-item-3"><a href="#">Sample Page2</a></li>
		</ul>
	</div>
	<div id="tag_cloud-2" class="widget widget_tag_cloud">
		<h3>Tag</h3>
		<div class="tagcloud">
			<a style="font-size: 8px;" title="1 topic" class="tag-link-2" href="#">test</a>
			<a style="font-size: 16px;" title="1 topic" class="tag-link-3" href="#">test_2</a>
			<a style="font-size: 12px;" title="1 topic" class="tag-link-5" href="#">test_4</a>
			<a style="font-size: 20px;" title="1 topic" class="tag-link-6" href="#">test_5</a>
			<a style="font-size: 8px;" title="1 topic" class="tag-link-4" href="#">test__3</a>
		</div>
	</div>
	<div id="media_gallery-2" class="widget widget_media_gallery">
		<h3>Gallery</h3>
		<div id="gallery-1" class="gallery galleryid-1928 gallery-columns-3 gallery-size-thumbnail">
			<figure class="gallery-item">
				<div class="gallery-icon landscape">
					<img width="100" height="100" src="http://via.placeholder.com/100x100"
						class="attachment-thumbnail size-thumbnail" alt="">
				</div>
			</figure>
			<figure class="gallery-item">
				<div class="gallery-icon landscape">
					<img width="100" height="100" src="http://via.placeholder.com/100x100"
						class="attachment-thumbnail size-thumbnail" alt="">
				</div>
			</figure>
			<figure class="gallery-item">
				<div class="gallery-icon landscape">
					<img width="100" height="100" src="http://via.placeholder.com/100x100"
						class="attachment-thumbnail size-thumbnail" alt="">
				</div>
			</figure>
			<figure class="gallery-item">
				<div class="gallery-icon landscape">
					<img width="100" height="100" src="http://via.placeholder.com/100x100"
						class="attachment-thumbnail size-thumbnail" alt="">
				</div>
			</figure>
		</div>
	</div>
	<div class="widget widget_media_image">
		<div class="widget_inner">
			<h3 class="widgettitle">Image</h3>
			<figure style="width: 300px" class="wp-caption alignnone"><img width="300" height="150"
					class="image wp-image-9  attachment-medium size-medium" alt="" style="max-width: 100%; height: auto;"
					src="http://via.placeholder.com/300x150">
				<figcaption class="wp-caption-text">some caption</figcaption>
			</figure>
		</div>
	</div>
</aside>
