//
// Base styles for button
//

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	position: relative;
	padding: 12px 25px;
	border: 1px solid transparent;
	border-radius: 50px;
	background: var(--accent-color);
	transition: all var(--animation-duration) var(--animation-timing-function);
	font-size: 16px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: var(--color-white);
	cursor: pointer;

	&:hover {
		background: var(--color-gray-200);
		text-decoration: none;
	}

	&-secondary {
		border-color: var(--accent-color);
		background: none;
		color: var(--accent-color);

		&:hover {
			background: var(--color-gray-200);
			border-color: var(--color-gray-200);
			color: var(--color-white);
		}
	}
}

.button-link {
	display: inline-flex;
	align-items: center;
	gap: 10px;
	color: var(--base-link-color);

	&:hover {
		color: var(--accent-color);
	}
}
