//------------------- box-sizing for all element
* {
	box-sizing: inherit;
	// max-height to all
	max-height: 1000000px;

	&:after,
	&:before {
		box-sizing: inherit;
	}
}

//------------------- transition none when resize
.resize-active {
	transition: none !important;

	*,
	*:before,
	*:after {
		transition: inherit !important;
	}
}

//------------------- container
.container {
	width: 100%;
	max-width: calc(var(--container) + var(--gutter) * 2);
	margin: 0 auto;
	padding-left: var(--gutter);
	padding-right: var(--gutter);
}

//------------------- footer to bottom
html,
body {
	height: 100%;
}

.wrapper {
	display: grid;
	// Fixed header is out of grid flow
	grid-template-rows: 1fr auto;
	min-height: 100%;
	width: 100%;
	position: relative;
	overflow: clip;
}

// fix bug on some flex block (see example with slider swiper)
.main,
.header,
.footer {
	min-width: 0;
}

.offset-header {
	padding-top: var(--offset-header);
}

// bg-str
.bg-str {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;

	img {
		@extend %bg-stretch-img;
	}
}
