// Form and form elements

form,
fieldset {
	border: none;
	display: block;
	padding: 0;
	margin: 0 0 var(--vertical-rhythm);
}

label {
	display: block;
	font-weight: 500;
	font-size: var(--label-fz);
	line-height: var(--label-lh);
	color: var(--label-color);
	margin: 0 0 var(--vertical-rhythm);
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="password"],
input[type="url"],
input[type="number"],
input[type="date"],
input[type="file"],
textarea {
	-webkit-appearance: none;
	outline: none;
	max-width: 100%;
	width: 100%;
	padding: var(--input-y) var(--input-x);
	margin: 0;
	border: var(--input-border) solid var(--input-border-color);
	border-radius: var(--input-radius);
	background: var(--input-bg-color);
	font-size: var(--input-fz);
	line-height: var(--input-lh);
	font-weight: 500;
	color: var(--input-color);
	text-align: left;

	@include placeholder {
		color: var(--input-placeholder-color);
		opacity: 1;
		transition: opacity 0.15s linear;
	}

	&:focus {
		border-color: var(--input-focus-border-color);

		@include placeholder {
			opacity: 0;
		}
	}

	.error & {
		color: var(--color-red);
	}
}

textarea {
	resize: none;
	vertical-align: top;
	width: 100%;
	height: 200px;
}

/* button, */
input[type='button'],
input[type='reset'],
// input[type='file'],
input[type='submit'],
button[type='submit'] {
	-webkit-appearance: none;
	@extend .button;

	&.button-secondary {
		@extend .button-secondary;
	}
}

input[type="reset"] {
	margin-bottom: 13px;
}

input[type="file"] {
	max-width: 100%;
}

//------------------- style #input #textarea
// removes the icon in the search type field
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

/* custom checkbox styles */

.jcf-checkbox {
	vertical-align: middle;
	display: inline-block;
	position: relative;
	overflow: hidden;
	cursor: default;
	background: var(--input-bg-color);
	border: 1px solid var(--input-border-color);
	margin: 0 0.5em 0 0;
	height: var(--checkbox-size);
	width: var(--checkbox-size);
	flex: 0 0 var(--checkbox-size);
}

.jcf-checkbox span {
	position: absolute;
	display: none;
	height: 6px;
	width: 10px;
	top: 50%;
	left: 50%;
	margin: -4px 0 0 -5px;
	border: 3px solid white;
	border-width: 0 0 3px 3px;
	transform: rotate(-45deg);
}

.jcf-checkbox input[type="checkbox"] {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	left: 0;
	top: 0;
}

.jcf-checkbox.jcf-checked {
	border-color: var(--form-theme-color);
	background-color: var(--form-theme-color);

	span {
		display: block;
	}
}

/* custom radio styles */

.jcf-radio {
	vertical-align: middle;
	display: inline-block;
	position: relative;
	overflow: hidden;
	cursor: default;
	background: #fff;
	border: 1px solid var(--input-border-color);
	border-radius: 50%;
	margin: 0 0.5em 0 0;
	height: var(--radio-size);
	width: var(--radio-size);
	flex: 0 0 var(--radio-size);
}

.jcf-radio span {
	display: none;
	position: absolute;
	top: 3px;
	left: 3px;
	right: 3px;
	bottom: 3px;
	background: var(--form-theme-color);
	border-radius: 100%;
}

.jcf-radio input[type="radio"] {
	position: absolute;
	height: 100%;
	width: 100%;
	border: 0;
	margin: 0;
	left: 0;
	top: 0;
}

.jcf-radio.jcf-checked span {
	display: block;
}

/* custom select styles */

.jcf-select {
	display: inline-block;
	vertical-align: top;
	position: relative;
	border: var(--input-border) solid var(--input-border-color);
	border-width: 1px;
	border-radius: var(--input-radius);
	background: var(--input-bg-color);
	min-width: 0;
	width: 100%;
	padding: var(--input-y) var(--input-x);
	padding-right: 50px;
	font-size: var(--input-fz);
	line-height: var(--input-lh);
	font-weight: 500;
	color: var(--input-color);

	&.jcf-drop-active {
		.jcf-select-opener {
			&:before {
				transform: rotate(180deg);
			}
		}
	}

	select {
		z-index: 1;
		left: 0;
		top: 0;
	}

	.jcf-select-text {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		cursor: default;
		display: block;
		min-height: 1.2em;
	}

	.jcf-select-opener {
		position: absolute;
		text-align: center;
		width: 20px;
		bottom: 0;
		right: 0;
		top: 0;
		fill: red;
		color: red;

		&:before {
			content: "";
			position: absolute;
			top: 50%;
			right: 9px;
			width: 8px;
			height: 6px;
			mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSI0IiB2aWV3Qm94PSIwIDAgNiA0IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNNS4zIDQuNzY4MzdlLTA3TDYgMC43NTY3NTdMMyA0TDAgMC43NTY3NTdMMC43IDQuNzY4MzdlLTA3TDMgMi40ODY0OUw1LjMgNC43NjgzN2UtMDdaIiBmaWxsPSIjMjI2RkMyIi8+Cjwvc3ZnPgo=");
			background-size: 100% auto;
			mask-size: 100% auto;
			mask-repeat: no-repeat;
			background-color: var(--accent-blog-color);
			margin-top: -3.5px;
		}
	}
}

body > .jcf-select-drop {
	position: absolute;
	margin: -1px 0 0;
	z-index: 9999;
}

body > .jcf-select-drop.jcf-drop-flipped {
	margin: 1px 0 0;
}

.jcf-select .jcf-select-drop {
	position: absolute;
	margin-top: 0px;
	z-index: 9999;
	top: 100%;
	left: -1px;
	right: -1px;
}

.jcf-select .jcf-drop-flipped {
	bottom: 100%;
	top: auto;
}

.jcf-select-drop .jcf-select-drop-content {
	border: 1px solid var(--input-border-color);
}

/* multiple select styles */

.jcf-list-box {
	overflow: hidden;
	display: inline-block;
	border: 1px solid #b8c3c9;
	min-width: 200px;
	margin: 0 15px;
}

/* select options styles */

.jcf-list {
	display: inline-block;
	vertical-align: top;
	position: relative;
	background: #fff;
	font-size: 12px;
	line-height: 1.2;
	width: 100%;

	.jcf-list-content {
		vertical-align: top;
		display: inline-block;
		overflow: auto;
		width: 100%;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			overflow: hidden;
			display: block;
		}
	}

	.jcf-overflow {
		overflow: auto;
	}

	.jcf-option {
		overflow: hidden;
		cursor: default;
		display: block;
		padding: 5px var(--input-x);
		color: var(--input-color);
		height: 1%;
	}

	.jcf-disabled {
		background: #fff !important;
		color: #aaa !important;
	}

	.jcf-optgroup-caption {
		white-space: nowrap;
		font-weight: bold;
		display: block;
		padding: 5px 9px;
		cursor: default;
		color: #000;
	}

	.jcf-optgroup .jcf-option {
		padding-left: 30px;
	}
}

.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
	background: #e6e6e6;
	color: #000;
}
