// Stretch img with fix to chrome
%bg-stretch-img {
	width: 100%;
	max-width: none;
	height: 100%;
	object-fit: cover;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

%stretch-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center
}

//------------------------- Placeholder mixin
@mixin optional-at-root($sel) {
	@at-root #{if(not &, $sel, selector-append(&, $sel))} {
		@content;
	}
}

@mixin placeholder {
	@include optional-at-root('::-webkit-input-placeholder') {
		@content;
	}

	@include optional-at-root(':-moz-placeholder') {
		@content;
	}

	@include optional-at-root('::-moz-placeholder') {
		@content;
	}

	@include optional-at-root(':-ms-input-placeholder') {
		@content;
	}
}
//how to use
// .foo {
// 	@include placeholder {
// 		color: green;
// 	}
// }

//------------------------- size mixin
@mixin size($width: 100px, $height: $width) {
	width: $width;
	height: $height;
}
//how to use
///.foo {
///		@include size(100px, 150px);
///}

//------------------------- mixin responsive-ratio
@function arf($x: 16, $y: 9) {
	$var-aspect-ratio: calc($y / $x);
		$var-aspect-ratio-round: calc(round($var-aspect-ratio * 10000) / 10000);
	@return $var-aspect-ratio-round * 100%;
}

%a-r-ex {
	position: relative;
	overflow: hidden;

	&:before {
		content: "";
		display: block;
		width: 100%;
		padding-top: arf(16,9);
	}
}

@mixin m-ar($x: 16, $y: 9) {
	&:before {
		padding-top: arf($x,$y);
	}
}

//how to use full trick
// .div {
// 	@extend %a-r-ex;
// 	@include m-ar(1,1);
// 	img {
// 		@extend %bg-stretch-img;
// 	}
// }

//------------------------- mixin for modifications responsive-ratio
@mixin armod($xReal: 100, $yReal: 100,$x: 1, $y: 1) {
	&._#{$x}-#{$y}:before {
		padding-top: arf($xReal,$yReal);
	}
}

//how to use see https://codepen.io/sharnirio/pen/ZEOQvmb
//.bg-str {
// 	@include a-r();
// 	@include armod(100,100,1,1);
// 	@include armod(100,50,2,1);
// }

// Fetch nested keys https://www.sitepoint.com/extra-map-functions-sass/
// @param {Map} $map - Map
// @param {Arglist} $keys - Keys to fetch
// @return {*}
@function map-deep-get($map, $keys...) {
	@each $key in $keys {
		$map: map-get($map, $key);
	}
	@return $map;
}




@function fluid($max: 100, $min: 10, $maxVW: 1440, $minVW: 375) {
	// slope = (max - min) / (maxVW - minVW)
	$slope: math.div($max - $min, $maxVW - $minVW);

	@return clamp(
		#{$min}px,
		unquote("calc(#{$min}px + #{$slope * 100}vw - #{$slope * $minVW}px)"),
		#{$max}px
	);
}

//how to use
.div-fluid {
	background-color: tomato;
	// use default
	font-size: fluid(60, 30);
	// or use with other max or min breakpoints
	font-size: fluid(60, 30, 768, 375);
	font-size: fluid(60, 30, 1440, 768);
	// you can also use it in other properties
	padding: fluid(50, 10) fluid(100, 10);
	margin-block: fluid(50, 10);
}
