$breakpoints: (
	"full": 1920px,
	"xl": 1680px,
	"macbook": 1440px,
	"ipad-pro": 1366px,
	"desktop-lg": 1280px,
	"desktop-md": 1200px,
	"desktop": 1024px,
	"tablet": 768px,
	"phone": 667px,
	"phone-md": 568px,
	"phone-sm": 480px,
	"phone-xs": 375px,
);
// ligatured operators ≥ ≤

// keywords
$media-expressions: (
	"iphoneX":
		"(min-width: 812px) and (max-height: 414px) and (orientation: landscape)",
	"screen": "screen",
	"print": "print",
	"handheld": "handheld",
	"landscape": "(orientation: landscape)",
	"portrait": "(orientation: portrait)",
	"retina2x": "(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)",
	"retina3x": "(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)",
);

// Headers
// name use for media query `<${name}`. See `$breakpoints` variable for a possible key.
$h1-h6-font-size: (
	// --------- h1 ---- h2 ----h3 ---- h4 -- h5 -- h6 ---
	"default":
		(
			clamp(30px, 4.5rem, 45px),
			clamp(24px, 3.6rem, 36px),
			clamp(22px, 3rem, 30px),
			clamp(20px, 2.8rem, 28px),
			clamp(18px, 2.4rem, 24px),
			clamp(16px, 2rem, 20px)
		)
);
