.main-post,
.main-blog{
	padding-top: 50px;
}

.entry{
	font-size: 17px;
	line-height: 150%;
}

.entry-content{
	a{
		text-decoration: underline;

		&:hover{
			text-decoration: none;
		}
	}
}

.section-entry {
	.container.entry {
		max-width: 1078px;
		padding-inline: var(--gutter);
		margin-inline: auto;
	}

	.page-site-header {
		margin-bottom: 41px;

		figure {
			img {
				width: 100%;
			}
		}
	}

	.entry-header{
		margin-bottom: 31px;
	}

	.entry-category{
		font-weight: 700;
		margin-bottom: 1.8rem;
	}

	.meta{
		font-weight: 500;
		margin-bottom: 0;
	}

	.entry-title{
		margin-bottom: 2rem;

		>*{
			margin-bottom: 0;
		}
	}

	.entry-category, .meta{
		color: var(--caption-color);

		a{
			color: inherit;

			&:hover{
				color: var(--accent-blog-color);
			}
		}
	}
}

.entry-aligner,
.entry-header {
	padding-inline: 106px;
}

.post-content-wrap{
	position: relative;
	display: flex;

	.entry-aligner{
		margin-left: -18px;
	}

	.b-social-wrap{
		flex: 0;
	}

	.b-social{
		position: sticky;
		position: -webkit-sticky;
		top: 20px;
		left: 0;
	}
}

figure {
	padding: 0;
	margin: 0 0 var(--vertical-rhythm);

	&.alignnone {
		img {
			width: 100%;
		}
	}

	figcaption {
		font-size: 0.875em;
		line-height: normal;
		text-align: right;
		color: var(--caption-color);
		padding-top: 11px;

		a{
			color: inherit;
			text-decoration: underline;

			&:hover{
				text-decoration: none;
			}
		}
	}
}

.entry-content {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

.ac {
	font-style: 16px;
	line-height: 1.4;
	border-radius: 4px;
	overflow: hidden;
	color: var(--base-text-color);
	background-color: #f8f8f7;
	padding: 30px;

	&-inner {
		display: flex;
	}

	&-avatar {
		flex: 0 0 85px;
		border-radius: 150px;
		overflow: hidden;
		align-self: flex-start;
		margin-right: 30px;
	}

	&-info {
		padding-top: 5px;

		&:not(:last-child){
			margin-bottom: 20px;
		}

		&__name {
			color: #2B2E38;
			font-size: 1.125em;
			line-height: normal;
			font-weight: 700;
			margin-bottom: 0.2em;
		}

		&__desc {
			> * {
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	.post-content-wrap &{
		&:not(:first-child){
			margin-top: 33px;
		}
	}
}

.b-social {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
	margin: 0 -5px;

	&._b-horizontal{
		flex-direction: column;
		align-items: flex-start;
	}

	a {
		display: block;
		font-size: 0;
		line-height: 0;
		color: #767676;
		padding: 5px;

		&:hover{
			color: var(--accent-blog-color);
		}
	}

	&__icon {
		font-size: 18px;
		line-height: 1;
		display: inline-block;
		vertical-align: top;
		width: 1em;
		height: 1em;
	}
}

.widget {
	margin-bottom: 3rem;
	@extend %clearfix;

	&title {
		margin-bottom: 1rem;
	}

	select {
		min-width: 0;
		width: 100%;
	}
}

.entry-category,
.breadcrumb,
.meta,
.post-img {
	margin-bottom: 1rem;
}

.video {
	width: 100%;
	max-width: 800px;
	aspect-ratio: 16/9;
	margin: 0 auto var(--vertical-rhythm);

	iframe {
		width: 100%;
		height: 100%;
	}
}

.no-margin {
	margin: 0;
}

.aligncenter {
	display: block;
	margin: 0 auto var(--vertical-rhythm);
	text-align: center;
}

.alignleft {
	float: left;
	margin: 0 var(--vertical-rhythm) var(--vertical-rhythm) 0;

	@include media("<tablet") {
		display: block;
		float: none;
		margin: 0 auto var(--vertical-rhythm);
	}
}

.alignright {
	float: right;
	margin: 0 0 var(--vertical-rhythm) var(--vertical-rhythm);

	@include media("<tablet") {
		display: block;
		float: none;
		margin: 0 auto var(--vertical-rhythm);
	}
}

.block {
	padding: 20px;
	background: #f9f9f9;

	#respond {
		width: 100%;
		margin: 0;
	}
}

.section-recent{
	padding-block: 50px;

	.container{
		max-width: calc(1240px + (var(--gutter)* 2));
	}

	&__title{
		overflow: clip;
		font-size: 16px;
		line-height: normal;
		font-weight: 700;
		color: var(--caption-color);
		text-align: center;
		margin-bottom: 57px;

		span{
			display: inline-block;
			vertical-align: top;
			position: relative;

			&:before,
			&:after{
				content: '';
				position: absolute;
				top: 50%;
				height: 1px;
				width: 1000px;
				background-color: #ddd;
			}

			&:before{
				left: auto;
				right: calc(100% + 30px);
			}

			&:after{
				right: auto;
				left: calc(100% + 30px);
			}
		}
	}
}

.recent-posts{
	.post{
		.entry-header{
			padding-inline: 0;
		}
	}
}

.row-post {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 50px 40px;
	margin-bottom: 50px;

	@include media("<desktop") {
		gap: 50px 20px;
	}
	@include media("<tablet") {
		grid-template-columns: 100%;
	}

	.post {
		&-img {
			margin-bottom: 15px;
			overflow: hidden;

			a {
				display: block;

				&:hover img {
					transform: scale(1.05);
				}
			}

			img {
				width: 100%;
				transform-origin: center bottom;
				transition: all 0.3s ease-in;
			}
		}

		&-content {
			.entry-content {
				p {
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		@include media("<tablet") {
			width: 100%;
		}
	}
}

.row-col {
	display: grid;
	grid-template-columns: 100%;
	gap: 40px;
	margin-bottom: 50px;

	.post {
		display: flex;
		gap: 20px;

		@include media("<tablet") {
			display: block;
		}

		&-img {
			flex-shrink: 0;
			width: 350px;
			overflow: hidden;
			margin-bottom: 0;

			@include media("<desktop") {
				width: 250px;
			}
			@include media("<tablet") {
				width: 100%;
				margin-bottom: 15px;
			}

			a {
				display: block;

				&:hover img {
					transform: scale(1.1);
				}
			}

			img {
				width: 100%;
				transform-origin: center bottom;
				transition: all 0.3s ease-in;
			}
		}

		&-content {
			.entry-content {
				p {
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

.pagination {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;

	.al,
	.ar {
		> a {
			display: flex;
			align-items: center;
			gap: 10px;
		}
	}
}

.comment-form .comment-form-cookies-consent {
	display: flex;
	align-items: flex-start;

	input[type="checkbox"] {
		width: auto;
		margin: 4px 10px 0 0;
	}

	label {
		margin: 0;
	}
}
