:root {
	--rem-base: 10px;
	--base-font-size: 16px;
	--base-line-height: 1.5;
	--base-font-weight: 400;
	--vertical-rhythm: calc(var(--base-line-height) * 1em);
	--font-open-sans: "Open Sans";
	--base-main-font: var(--font-open-sans);
	--base-font-sans-serif: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
	--base-font-serif: "Times New Roman", "Times", "Baskerville", "Georgia", serif;
	--base-font: var(--base-main-font), var(--base-font-sans-serif);
	--accent-font: var(--base-font-serif);
	--color-white: #fff;
	--color-white--rgb: 255, 255, 255;
	--color-white--darken: #ccc;
	--color-white--lighten: white;
	--color-black: #000;
	--color-black--rgb: 0, 0, 0;
	--color-black--darken: black;
	--color-black--lighten: rgb(63.75, 63.75, 63.75);
	--color-red: #ea5622;
	--color-red--rgb: 234, 86, 34;
	--color-red--darken: rgb(151.5950413223, 50.0743801653, 14.4049586777);
	--color-red--lighten: rgb(245.0640495868, 175.0392561983, 150.4359504132);
	--brand-color: #000;
	--accent-color: #226fc2;
	--accent-blog-color: var(--accent-color);
	--caption-color: #b0aeae;
	--base-text-color: var(--color-black);
	--base-link-color: rgba(var(--color-black--rgb), 0.5);
	--h1-h6-color: var(--color-black--lighten);
	--animation-duration: 0.3s;
	--animation-timing-function: ease;
	--container: 1440px;
	--gutter: 25px;
	--offset-header: 100px;
	--input-x: 25px;
	--input-y: 15px;
	--input-color: var(--brand-color);
	--input-placeholder-color: var(--brand-color);
	--input-bg-color: transparent;
	--input-radius: 5px;
	--input-border: 1px;
	--input-border-color: rgba(var(--color-black--rgb), 0.5);
	--input-focus-border-color: rgba(var(--color-black--rgb), 0.5);
	--input-fz: 16px;
	--input-lh: 1.2;
	--form-theme-color: var(--brand-color);
	--checkbox-size: 20px;
	--radio-size: 20px;
	--label-fz: 16px;
	--label-lh: 1.2;
	--label-color: currentColor;
	--error-color: var(--color-red);
	--error-bg-color: var(--color-red);
	--form-col-gutter: 30px;
	--form-row-margin: var(--form-col-gutter) * 1.5;
	--h1: clamp(30px, 4.5rem, 45px);
	--h2: clamp(24px, 3.6rem, 36px);
	--h3: clamp(22px, 3rem, 30px);
	--h4: clamp(20px, 2.8rem, 28px);
	--h5: clamp(18px, 2.4rem, 24px);
	--h6: clamp(16px, 2rem, 20px);
}
@media (max-width: 767px) {
	:root {
		--input-x: 20px;
		--input-y: 12px;
	}
}
@media (max-width: 666px) {
	:root {
		--gutter: 20px;
	}
}
@media (min-width: 812px) and (max-height: 414px) and (orientation: landscape) {
	:root {
		--gutter: 50px;
	}
}
