---
title: Don't forget to change title - for this page
---
{% import 'src/template/macrosAndVariable.html' as global %}
{% include 'src/template/head.html' %}

<body>
	<div class="wrapper">
		{% include 'src/template/header.html' %}

		<main class="main">
			<section class="hero">
				<div class="container">
					<div class="hero-grid">
						<div class="hero-grid__text" data-aos="fade-down">
							<h2>Lorem ipsum dolor sit amet consectetur</h2>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam veniam eveniet dolorem sequi. Repellendus praesentium nesciunt natus, quibusdam veritatis cupiditate, earum laudantium ex ratione dolores, pariatur possimus blanditiis nam laboriosam?</p>
						</div>
						<div class="hero-grid__image" data-aos="fade-left">
							<img src="https://placehold.co/600x600" alt="" width="600" height="600">
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="container">
					<div data-aos="fade">
						<img class="w-full" style="width: 100%;" src="https://placehold.co/1000x400" width="1000" height="400" alt="">
					</div>
				</div>
			</section>
			<section>
				<div class="container" style="margin-top: 50px;">
						{# How to use global variable #}
						<h2 style="text-align: center; padding-top: 50px">{{global.h2TestVar}}</h2>
						{# How to use macros #}
						{{ global.test({
							h1: "This is H1",
					h2: "This is H2",
							h3: "This is H3"
						}) }}
						{# How to use loop #}
						{% set testList = [{
							'h2': 'H2 text',
							'p': 'p text'
							},{
							'h2': 'H2 text 2',
							'p': 'p text 2'
							}] %}
						<ul>
						{% for item in testList %}
							<li>
								<h2>{{item.h2}}</h2>
								<p>{{item.p}}</p>
							</li>
						{% endfor %}
						</ul>
						{# How to use range loop #}
						<ul>
						{% for i in range(0, 5) %}
							<li>{{ i }} Lorem ipsum, dolor sit amet consectetur adipisicing elit.!</li>
						{% endfor %}
						</ul>
						<p><button class="button">Button</button></p>
				<p><button class="button button-secondary">Button secondary</button></p>
				<p>
					<a class="button-link" href="#0">
						Button link
						<svg class="icon">
							<use xlink:href="img/sprite.symbol.svg#arrow-right"></use>
						</svg>
					</a>
				</p>
			</div>
			</section>
		</main>

		{% include 'src/template/footer.html' %}
	</div>
	{% include 'src/template/includes.html' %}
</body>
</html>
