---
title: dev_wp-post-list page
---
{% import 'src/template/macrosAndVariable.html' as global %}
{% include 'src/template/head.html' %}

<body class="admin-bar">
	{% include 'src/template/wp-test-page/wp-test-page-head.html' %}
	<div class="wrapper">
		{% include 'src/template/header.html' %}
		<main class="main">
			<div class="container">
				<aside id="sidebar">
					<div class="widget widget_recent_posts">
						<h3>Recent Posts</h3>
						<ul>
							<li>
								<a href="#!">
									Lorem ipsum dolor sit met.
								</a>
								<a href="#!" class="date">August 29, 2016</a>
							</li>
							<li>
								<a href="#!">
									Lorem ipsum dolor sit met.
								</a>
								<a href="#!" class="date">August 29, 2016</a>
							</li>
							<li>
								<a href="#!">
									Lorem ipsum dolor sit met.
								</a>
								<a href="#!" class="date">August 29, 2016</a>
							</li>
							<li>
								<a href="#!">
									Lorem ipsum dolor sit met.
								</a>
								<a href="#!" class="date">August 29, 2016</a>
							</li>
						</ul>
					</div>

					<div class="widget widget_recent_comments">
						<h3>Recent Comments</h3>
						<ul id="recentcomments">
							<li class="recentcomments">
								<a class="url" rel="external nofollow" href="https://wordpress.org/">John
									Doe on</a>
								<a href="#">Lorem Ipsum Dolor Sit</a>
							</li>
							<li class="recentcomments">
								<a class="url" rel="external nofollow" href="https://wordpress.org/">
									John Doe on</a>
								<a href="#">Lorem Ipsum Dolor Sit</a>
							</li>
							<li class="recentcomments">
								<a class="url" rel="external nofollow" href="https://wordpress.org/">
									John Doe on</a>
								<a href="#">Lorem Ipsum Dolor Sit</a>
							</li>
						</ul>
					</div>

					<div class="widget widget_archive">
						<h3>Archives</h3>
						<ul>
							<li>
								<a href="#!">
									August 2016
								</a>
							</li>
							<li>
								<a href="#!">
									July 2016
								</a>
							</li>
							<li>
								<a href="#!">
									June 2016
								</a>
							</li>
							<li>
								<a href="#!">
									May 2016
								</a>
							</li>
							<li>
								<a href="#!">
									April 2016
								</a>
							</li>
						</ul>
					</div>

					<div class="widget widget_categories">
						<h3>Categories</h3>
						<ul>
							<li class="cat-item cat-item-1">
								<a href="#">Uncategorized</a>
							</li>
							<li class="cat-item cat-item-2">
								<a href="#">Lifestyle</a>
							</li>
							<li class="cat-item cat-item-1">
								<a href="#">Travel</a>
							</li>
							<li class="cat-item cat-item-2">
								<a href="#">Cooking</a>
							</li>
							<li class="cat-item cat-item-2">
								<a href="#">Pets</a>
							</li>
						</ul>
					</div>
				</aside>

				<div id="content">
					<div class="entry">
						<div class="row-post row-col">
							<article class="post">
								<div class="post-img">
									<a href="#!">
										<img src="https://via.placeholder.com/640x360" srcset="https://via.placeholder.com/640x360 @2x" alt="image description">
									</a>
								</div>
								<div class="post-content">
									<header class="entry-header">
										<div class="entry-category">
											<span>In <a href="#!">Uncategorized</a></span>
										</div>
										<div class="entry-title">
											<h3>
												<a href="#!">
													Lorem Ipsum Dolor Sit
												</a>
											</h3>
										</div>
										<div class="meta">
											<span>
												by
												<a href="#!">
													Admin
												</a>
												on August 29, 2016
											</span>
										</div>
									</header>
									<div class="entry-content">
										<p>
											Consectetur elit. Sapiente, minus, provident, aperiam ipsum fugit eos ...
										</p>
									</div>
								</div>
							</article>

							<article class="post">
								<div class="post-img">
									<a href="#!">
										<img src="https://via.placeholder.com/640x360" srcset="https://via.placeholder.com/640x360 @2x" alt="image description">
									</a>
								</div>
								<div class="post-content">
									<header class="entry-header">
										<div class="entry-category">
											<span>In <a href="#!">Uncategorized</a></span>
										</div>
										<div class="entry-title">
											<h3>
												<a href="#!">
													Lorem Ipsum Dolor Sit
												</a>
											</h3>
										</div>
										<div class="meta">
											<span>
												by
												<a href="#!">
													Admin
												</a>
												on August 29, 2016
											</span>
										</div>
									</header>
									<div class="entry-content">
										<p>
											Consectetur elit. Sapiente, minus, provident, aperiam ipsum fugit eos ...
										</p>
									</div>
								</div>
							</article>

							<article class="post">
								<div class="post-img">
									<a href="#!">
										<img src="https://via.placeholder.com/640x360" srcset="https://via.placeholder.com/640x360 @2x" alt="image description">
									</a>
								</div>
								<div class="post-content">
									<header class="entry-header">
										<div class="entry-category">
											<span>In <a href="#!">Uncategorized</a></span>
										</div>
										<div class="entry-title">
											<h3>
												<a href="#!">
													Lorem Ipsum Dolor Sit
												</a>
											</h3>
										</div>
										<div class="meta">
											<span>
												by
												<a href="#!">
													Admin
												</a>
												on August 29, 2016
											</span>
										</div>
									</header>
									<div class="entry-content">
										<p>
											Consectetur elit. Sapiente, minus, provident, aperiam ipsum fugit eos ...
										</p>
									</div>
								</div>
							</article>

							<article class="post">
								<div class="post-img">
									<a href="#!">
										<img src="https://via.placeholder.com/640x360" srcset="https://via.placeholder.com/640x360 @2x" alt="image description">
									</a>
								</div>
								<div class="post-content">
									<header class="entry-header">
										<div class="entry-category">
											<span>In <a href="#!">Uncategorized</a></span>
										</div>
										<div class="entry-title">
											<h3>
												<a href="#!">
													Lorem Ipsum Dolor Sit
												</a>
											</h3>
										</div>
										<div class="meta">
											<span>
												by
												<a href="#!">
													Admin
												</a>
												on August 29, 2016
											</span>
										</div>
									</header>
									<div class="entry-content">
										<p>
											Consectetur elit. Sapiente, minus, provident, aperiam ipsum fugit eos ...
										</p>
									</div>
								</div>
							</article>

							<article class="post">
								<div class="post-img">
									<a href="#!">
										<img src="https://via.placeholder.com/640x360" srcset="https://via.placeholder.com/640x360 @2x" alt="image description">
									</a>
								</div>
								<div class="post-content">
									<header class="entry-header">
										<div class="entry-category">
											<span>In <a href="#!">Uncategorized</a></span>
										</div>
										<div class="entry-title">
											<h3>
												<a href="#!">
													Lorem Ipsum Dolor Sit
												</a>
											</h3>
										</div>
										<div class="meta">
											<span>
												by
												<a href="#!">
													Admin
												</a>
												on August 29, 2016
											</span>
										</div>
									</header>
									<div class="entry-content">
										<p>
											Consectetur elit. Sapiente, minus, provident, aperiam ipsum fugit eos ...
										</p>
									</div>
								</div>
							</article>

							<article class="post">
								<div class="post-img">
									<a href="#!">
										<img src="https://via.placeholder.com/640x360" srcset="https://via.placeholder.com/640x360 @2x" alt="image description">
									</a>
								</div>
								<div class="post-content">
									<header class="entry-header">
										<div class="entry-category">
											<span>In <a href="#!">Uncategorized</a></span>
										</div>
										<div class="entry-title">
											<h3>
												<a href="#!">
													Lorem Ipsum Dolor Sit
												</a>
											</h3>
										</div>
										<div class="meta">
											<span>
												by
												<a href="#!">
													Admin
												</a>
												on August 29, 2016
											</span>
										</div>
									</header>
									<div class="entry-content">
										<p>
											Consectetur elit. Sapiente, minus, provident, aperiam ipsum fugit eos ...
										</p>
									</div>
								</div>
							</article>
						</div>

						<div class="pagination">
							<div class="al">
								<a href="#!">
									<span>&larr;</span>
									Previous
								</a>
							</div>
							<div class="ar">
								<a href="#!">
									Next
									<span>&rarr;</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		{% include 'src/template/footer.html' %}
		{% include 'src/template/wp-test-page/wp-test-page-admin-bar.html' %}
	</div>
	{% include 'src/template/includes.html' %}
</body>

</html>
