@import "vendors/include-media";
@import "base/variables";

:root {
	// === Base variable

	// --- HTML style
	--rem-base: 10px;

	// --- Body style
	--base-font-size: 16px;
	--base-line-height: 1.2;
	--vertical-rhythm: calc(var(--base-line-height) * 1em);

	// --- Font-family
	--font-open-sans: "Open Sans";

	--base-main-font: var(--font-open-sans);
	--base-font-sans-serif: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
	--base-font-serif: "Times New Roman", "Times", "Baskerville", "Georgia", serif;
	--base-font: var(--base-main-font), var(--base-font-sans-serif);
	--accent-font: var(--base-font-serif);

	// --- Colors
	--color-white: #fff;
	--color-black: #000;
	--color-gray-100: #eee;
	--color-gray-200: #333;
	--color-gray-300: #666;
	--color-gray-400: #999;
	--color-red: #f00;

	// --- Colors theme
	--brand-color: #000;
	--accent-color: #f00;

	// --- Colors base
	--base-text-color: var(--color-black);
	--base-link-color: var(--brand-color);
	--h1-h6-color: var(--base-text-color);

	// --- Animation
	--animation-duration: 0.3s;
	--animation-timing-function: ease;

	// --- Container
	--container: 1440px;

	// --- Gutter
	--gutter: 25px;

	@include media("iphoneX") {
		//increase paddings that content didn't disturb notch for landscape orientation https://twitter.com/i/status/907911237983449088
		--gutter: 50px;
	}
	@include media('<phone') {
		--gutter: 20px;
	}

	// Form elements styling
	--input-x: 25px;
	--input-y: 15px;
	--input-color: var(--brand-color);
	--input-placeholder-color: var(--brand-color);
	--input-bg-color: var(--color-gray-100);
	--input-radius: 5px;
	--input-border: 1px;
	--input-border-color: transparent;
	--input-focus-border-color: var(--color-gray-200);
	--input-fz: 16px;
	--input-lh: 1.2;

	--form-theme-color: var(--brand-color);
	--checkbox-size: 20px;
	--radio-size: 20px;

	--label-fz: 16px;
	--label-lh: 1.2;
	--label-color: currentColor;

	--error-color: var(--color-red);
	--error-bg-color: var(--color-red);

	--form-col-gutter: 30px;
	--form-row-margin: var(--form-col-gutter) * 1.5;

	@include media('<tablet') {
		--input-x: 20px;
		--input-y: 12px;
	}

	// === Using cycle on scss map

	// --- Css variable for h1-h6 font-size
	@each $name, $array in $h1-h6-font-size {
		@if ($name == "default") {
			@for $i from 1 through length($array) {
				--h#{$i}: #{nth($array, $i)};
			}
		} @else {
			@include media("<#{$name}") {
				@for $i from 1 through length($array) {
					--h#{$i}: #{nth($array, $i)};
				}
			}
		}
	}
}
