
//----- main style for project
@import "base/variables";
@import "base/fonts";
@import "vendors/include-media";
@import "vendors/normalize";
@import "base/mixins";
@import "base/button";
@import "base/forms";
@import "base/typography";
@import "base/common";
@import "base/header";
@import "base/footer";
@import "vendors/smartmenus";
// If the project is on wp
@import "base/wp-reset";
