//----- main style for project
@import "base/variables";
@import "base/fonts";

@import "vendors/include-media";
@import "vendors/normalize";

@import "base/mixins";
@import "base/typography";
@import "base/button";
@import "base/forms";
@import "base/common";
@import "base/header";
@import "base/footer";
@import "vendors/aos.min";
// If the project is on wp
@import "base/wp-reset";


.hero {
    padding-block: 50px;

    &-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;

        @include media('<tablet') {
            grid-template-columns: repeat(1, 1fr);
        }

        &__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 18px;
            line-height: 1.5;

            *{
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }

        &__image {
            img {
                width: 100%;
            }
        }
    }
}